<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="locationModalLabel">Please select an area</h5>
      </div>
      <div class="modal-body">
        <div class="container" style="text-align:center">
          <a class="lead" href="javascript:selectLoc('Bellevue')">Bellevue</a>
          <br>
          <a class="lead" href="javascript:selectLoc('Redmond')">Redmond</a>
          <br>
          <a class="lead" href="javascript:selectLoc('Sammamish')">Sammamish</a>
          <br>
          <a class="lead" href="javascript:selectLoc('Seattle')">Seattle</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
        integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo="
        crossorigin="anonymous"></script>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script type="text/javascript">
$(() => {
  <% if (typeof user.location == 'undefined' || user.location == "") { %>
    $('#locationModal').modal({
      backdrop: true,
      keyboard: false,
      focus: true
    });
  <% } %>
});

function selectLoc(loc) {
  var socket = io();
  $('#locationModal').modal('hide');

  <% if (typeof user.email != 'undefined' && user.email != "") {%>
    socket.emit('location', "<%= user.email %>", loc);
  <% } %>
  location.reload();
}

</script>

<% include ./partials/lightnav %>

<br>
<br>

<div class="container">
  <% if (typeof error != 'undefined' && error != '') { %>
    <p><%= error %></p>
  <% } else if (typeof success != 'undefined' && success != '') { %>
    <p><%= success %></p>
  <% } else { %>
    <div class="row">
      <div class="col-md" style="text-align: center">
        <h1><%= madras.uses %>/5</h1>

      </div>
      <div class="col-md" style="text-align: center">
        <p class="lead">Your link is:</p>
        <a href="advct.us/store/madras/?code=<%= madras.id %>">https://advct.us/store/madras/?code=<%= madras.id %></a>
          <% if (madras.uses >= 5) { %>
            <p>Coupon code: <%= madras.code %> </p>
          <% } else {%>
            <p>Share with <%= 5 - madras.uses %> more people to claim your discount</p>
          <% } %>
      </div>
    </div>
    <br>
    <div class="container" style="text-align: center">
      <p></p>
      <h4>Instructions: </h4><p class="">
        1. Press "redeem" to generate a link. <br>
        2. Click the link and share it with 4 or more people you want to order with.<br>
        3. You might need to refresh as people to join to see an updated member count. When 5 people have joined the group, refresh and you'll see a code <br>
        3. Now, everyone can call Madras Dosa corner and complete their orders. While ordering, provide your code to the receiver.<br>
        Note: All five or more people must be in the same city for the discount to apply.
      </p>
    </div>
  <% } %>
</div>
